@model IEnumerable<ProductDto>
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Products List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="ProductCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Product</a>

			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Category Name
					</th>
					<th>
						Price
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.Name
						</td>
						<td>
							@item.CategoryName
						</td>
						<td>
							@((item.Price).ToString("c"))
						</td>
						<td>
							<a class="btn btn-success" asp-action="ProductEdit" asp-route-productId="@item.ProductId">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a class="btn btn-danger" asp-action="ProductDelete" asp-route-productId="@item.ProductId">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>